node_modules
# Supabase
.branches
.temp

# dotenvx
.env
.env.*
.env.keys
.env.local
.env.*.local

# Expo build output
dist/

# Expo local workspace
.expo/

# DS_Store
.DS_Store

#node modules
node_modules/

